[submodule "firmware/lib/arduino-as1115"]
	path = firmware/lib/arduino-as1115
	url = git@github.com:blemasle/arduino-as1115.git
[submodule "firmware/lib/WiFiManager"]
	path = firmware/lib/WiFiManager
	url = git@github.com:axlan/WiFiManager.git
