BraceWrapping:
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   false
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  BeforeCatch:     true # Point One
  BeforeElse:      true # Point One
  IndentBraces:    false
BreakBeforeBraces: Attach
IndentWidth:     2
